{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "sportscoachguide-73aea",
    "storage_bucket": "sportscoachguide-73aea.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:placeholder",
        "android_client_info": {
          "package_name": "com.example.sports_coach_guide"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_WITH_ANDROID_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
